<form action="/signup" method="post">
	<input id="username" type="text" name="username" placeholder="Username" align="center">
  <input id="email" type="password" name="email" placeholder="Email" align="center">
	<input id="password" type="password" name="password" placeholder="Password" align="center">
	<input type="submit" value="submit">
</form>
